.text-field {
    -fx-background-color: #FFFFFF00;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #87CEE7;
}

.button {
    -fx-text-fill: #409eff;
    -fx-start-margin: 10px;
    -fx-border-width: 1px;
    -fx-border-color: #dcdfe6;
    -fx-border-style: solid;
    -fx-background-color: #ecf5ff;
    -fx-cursor: pointer;
    -fx-text-alignment: center;
    -fx-font-size: 14px;
    -fx-padding: 4px 8px;
    -fx-border-radius: 4px;
}

.button:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #409eff;
    -fx-border-color: #409eff;
}