.personnel-management {
    -base-color: #409EFF;
}
.prev-page Region{
    -fx-shape: "M511.00672 12.23168c-275.44576 0-498.48832 223.04256-498.48832 498.48832 0 275.44576 223.04256 498.48832 498.48832 498.48832s498.48832-223.04256 498.48832-498.48832C1009.49504 235.37664 786.45248 12.22656 511.00672 12.23168zM563.71712 217.12384c17.6384-2.05312 35.1744 2.97472 49.12128 14.04928 27.99616 21.94432 33.01888 66.14528 11.07456 94.03904L477.36832 510.8224l146.53952 185.61024c22.04672 27.79136 16.9216 71.9872-11.07456 93.93664-29.02016 22.87104-71.168 17.9456-94.03904-10.97216l-179.25632-226.93888c-4.61312-6.05184-8.20224-12.82048-11.27936-21.84192l-2.76992-21.53472 0.8192-8.92416c0.4096-3.17952 1.024-6.25664 2.46272-10.46016 2.36032-7.48544 6.05184-14.35648 10.86976-20.61312l179.25632-226.93888C529.97632 228.1984 545.87392 219.27424 563.71712 217.12384z";
    -fx-background-color: -base-color;
}
.next-page Region {
    -fx-shape: "M12.5184 510.72c0 275.44576 223.04256 498.48832 498.48832 498.48832s498.48832-223.04256 498.48832-498.48832c0-275.44576-223.04256-498.48832-498.48832-498.48832C235.56096 12.22656 12.5184 235.37664 12.5184 510.72zM503.11168 242.14528l179.25632 226.93888c4.81792 6.25664 8.50944 13.12768 10.86976 20.61312 1.4336 4.20352 2.05312 7.28064 2.46272 10.46016l0.8192 8.92416-2.76992 21.53472c-3.07712 9.02656-6.66624 15.7952-11.27936 21.84192l-179.25632 226.93888c-22.86592 28.91776-65.01376 33.8432-94.03904 10.97216-27.99616-21.94432-33.12128-66.14528-11.07456-93.93664l146.53952-185.61024L398.10048 325.20704c-21.94432-27.89376-16.9216-72.0896 11.07456-94.03904 13.94688-11.07456 31.48288-16.1024 49.12128-14.04928C476.13952 219.27424 492.03712 228.1984 503.11168 242.14528z";
    -fx-background-color: -base-color;
}

.personnel-management .toggle-button {
    -fx-background-color: #F4F4F5;
}
.personnel-management .toggle-button:selected {
    -fx-background-color: -base-color;
    -fx-text-fill: WHITE;
}
.tv-user:focused {

}